<fygo-header [title]="'Welcome'"></fygo-header>

<div class="form-container">
    <form [formGroup]="authForm" (keydown)="keyDownFunction($event)">
        <div class="control-container">
            <input class="default-input" [ngClass]="{ 'input-invalid': shouldDisplayUsernameValidation() }"
                formControlName="username" type="text" placeholder="Username">
            <span class="input-error" *ngIf="shouldDisplayUsernameValidation()">{{ getUsernameValidationMessage()
                }}</span>
        </div>
        <div class="control-container">
            <input class="default-input" formControlName="password" type="password" placeholder="Password">
        </div>
    </form>
    <div class="login-button" (click)="login()" [ngClass]="{'disabled': authForm.invalid}">Login</div>
</div>
<fygo-loader-overlay *ngIf="isLoading"></fygo-loader-overlay>