.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--border-color);
    height: fit-content;
    width: fit-content;
    padding: 40px 20px 20px 20px;
    margin: auto;

    .control-container {
        display: flex;
        flex-direction: column;
        position: relative;

        margin-bottom: 25px;

        .input-error {
            color: var(--error-color);
            margin-top: 5px;
            font-size: 14px;

            position: absolute;
            top: 20px;
        }
    }

    .login-button {
        font-size: 20px;
        font-weight: 700;

        width: 100%;
        text-align: right;

        &:hover {
            cursor: pointer;
            color: var(--highlight-color);
        }

        &.disabled {
            color: var(--border-color);

            &:hover {
                cursor: default;
                color: var(--border-color);
            }
        }
    }
}
