<div class="form-container">
    <form [formGroup]="authForm" (keydown)="keyDownFunction($event)">
        <div class="control-container">
            <input class="default-input" [ngClass]="{ 'input-invalid': shouldDisplayUsernameValidation() }"
                formControlName="username" type="text" placeholder="Username">
            <span class="input-error" *ngIf="shouldDisplayUsernameValidation()">{{ getUsernameValidationMessage()
                }}</span>
        </div>
        <div class="control-container">
            <input class="default-input" formControlName="password" type="password" placeholder="Passowrd">
        </div>
    </form>
    <button class="default-button" (click)="login()" [disabled]="authForm.invalid">Login</button>
</div>
<fygo-loader-overlay *ngIf="isLoading"></fygo-loader-overlay>