:root {
    --fygo-brand-color: #ff0063;
    --default-color: #2a2638;
    --highlight-color: var(--fygo-brand-color);
    --border-color: rgba(42, 38, 56, 0.1);
    --error-color: rgba(255, 0, 0, 0.8);

    --default-bgd: #fff;
    --default-high-bgd: #f1f1f1b0;

    --btn-default-color: #fff;
    --btn-default-bg-color: #07db92;

    --cashback-color:  #07db92;
    --withdrawal-color: rgba(255, 0, 0);
}