:root {
    --fygo-brand-color: #ff0063;
    --default-color: #2a2638;
    --border-color: rgba(42, 38, 56, 0.1);
    --error-color: rgba(255, 0, 0, 0.8);

    --btn-default-color: #ffffff;
    --btn-default-bg-color: #07db92;
}