<fygo-header [title]="'Dashboard'"></fygo-header>

<div class="dashboard-nav">
    <button class="fygo-button nav-button" (click)="goToMerchants()" [ngClass]="{'nav-active': activeTab === ActiveDashboardTab.Merchants}">
        Merchants
    </button>
    <button class="fygo-button nav-button" (click)="goToTransactions()" [ngClass]="{'nav-active': activeTab === ActiveDashboardTab.Transactions}">
        Transactions
    </button>
</div>
<div class="dashboard-container">
    <router-outlet></router-outlet>
</div>

<fygo-footer></fygo-footer>